* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body {
	width: 100%;
}



/*menu*/

header{
	margin-bottom: 40px;
}
.nav__ul {
	list-style: none;
	background: #6BACC9;
	width: 100%;
	}

.nav__ul li a {
	color: #fff;
}


.nav__ul li {
	margin-left: 20px;
	display: inline-block;
	padding: 10px;
	color: #fff;

}
.nav__ul li:hover {
	background: whitesmoke;
	box-shadow:  0px 0px 2px gray;
	color: #0B6B96;
}
.nav__ul li a {
	text-decoration: none;
}

.nav__ul li:hover > a {
		color: #0B6B96;

}


.nav__ul i {
	margin-right: 10px;
}
@media only screen and (max-width: 500px) {
	.nav__ul li {
	display: block;
	}

}
/*Fin menu*/








.bloque2 {

	position: relative;
	margin-left: 50px;
	display: inline-block;
	width: 500px;
	height: 500px;
	background: rgb(226, 214, 216);
}

.caja1{
	
	position: absolute;
	display: inline-block;
	background: gray;
	color: black;
	width: 100px;
	height: 100px;
	
}
.caja2{
	position: absolute;
	display: inline-block;
	background: skyblue;
	color: black;
	width: 100px;
	height: 100px;
	right: 0px;

}
.caja3{
	position: absolute;
	display: inline-block;
	background: green;
	color: black;
	width: 100px;
	height: 100px;
	bottom: 0px;
	
}
.caja4 {
	position:absolute;
	display: inline-block;
	background: violet;
	color: black;
	width: 100px;
	height: 100px;
	bottom: 0px;
	right: 0px;
	
}
.caja5{
	position: absolute;
	display: block;
	background: orange;
	color: black;
	width: 100px;
	height: 100px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 0px;
	margin: auto;
	

}
.contenedor {
	position: absolute;
	margin-left: 50px;
	display: inline-block;
	width: 500px;
	height: auto;
	background: #fff;

	
}

h2 {
	padding: 20px;
	
}
p {
 padding: 20px;
}


/*boton*/

 .boton {
	box-sizing: border-box;
	display: block;
	width: 35%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	background: #6BACC9;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	margin-top: 5px;
	transition: all .2s;
	
}
.boton:hover {
	
	box-sizing: border-box;
	color: rgb(31, 87, 133);
	background: #fff;
	width: 45%;
	border: 1px solid  rgb(31, 87, 133);;
	border-radius: 30px 30px 30px 30px;

	
}