* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin: 0;
     padding: 0;
 }body {
     background: rgb(238, 235, 235);
       
 }
 .contenedor {
     width: 90%;
     min-width: 250px;
     max-width: 900px;
     background: rgb(223, 213, 213);
     border-radius: 5px;
     padding: 20px;
     margin: 50px auto;
 }
 .contenedor h1 {
     background: linear-gradient(to top, rgb(223, 213, 213), rgb(238, 235, 235));
     border-radius: 5px;
     text-align: center;
     padding: 10px;
     margin-bottom: 10px;
     color: #297396;
     }

 .contenedor p {
    margin-bottom: 30px;
 }    
     /*menu*/
.nav {
	background: #297396;
	text-align: center;
}
.nav__li {
	display: inline-block;
	padding: 15px;
	color: white;
}
.nav__li a {
	color: white;
	text-decoration: none;
	padding: 14px;
}
.nav__li:hover >a {
	color: orange;
	
}
.nav__li i {
    margin-right: 8px;
}/*fin menu*//*menu responsive*/
.nav__responsive-button {
	
	padding: 15px 50px;
	text-align: right;
	width: 100%;
	box-sizing: border-box;
}/*fin menu responsive*/.nav__responsive-ul {
	display: none;
	
	
	
}
@media only screen and (max-width: 570px) {
	.nav__ul {
		display: none;
		
		
	}
/* 	
	.nav {
		background: linear-gradient(rgb(112, 110, 105), rgb(46, 41, 31),rgb(105, 83, 41));
		background: ;
		width: 100%;
		height: 45px
	} */	
	.nav__responsive-ul {
        min-width: 250px;
		top: -2px;
		display: block;
		
		height: auto;
		width: 100%;
		list-style: none;
		
		
		
	}	.nav__li-container {
       
		position: absolute;
		display: block;
		width: 60%;
		margin-top: -270px;
		transition: .2s;
		
	}
	
    
    .nav__responsive-button-container {
    
		position: relative;
		background: #297396;
        padding: 2px;
		text-align: right;
		width: 100%;
		box-sizing: border-box;
		z-index: 1;
		
    }	.nav__responsive-button {
     
		
	}
	
	.nav__responsive-li {
		position: relative;
		padding: 10px;
		background:#6BACC9;
		
			}
	.nav__responsive-li i {
		margin-right: 8px;
	}
		.nav__responsive-li a {
			color: white;
			text-decoration: none;		}
        .nav__responsive-li a:hover {
			color: orange;
			text-decoration: none;		}
		
	.nav__responsive-ul:hover > .nav__li-container {
		margin-top: 0px;
	}
	

}
    

/*GRID*/
.grid-container {
    background: slategrey;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 150px 1fr;
    grid-template-rows: 150px 150px 150px;
    gap: 5px;
    
}
    .grid-item {
        background: rgb(186, 221, 186);
        border: 1px solid black;
    }
    .grid-item:first-child {
        background: red;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .grid-item:nth-child(5) {
        background: blue;
        grid-column: 2 / span 2;
        
        
    }