* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  
  background: rgb(238, 235, 235);
  background: var(--color-body-background);
}

:root {
  /* Colores generales */
  /* --azul-principal:#297396;
  --naranja-principal:orange;
  --color-body-background: rgb(224, 207, 175);
  --azul-hover:#6bacc9;
  --blanco-principal:#fff;
  --color-contenedor-background:rgb(223, 213, 213);
  --color-parrafo:#7b888e;
  --h1-background-gradient: linear-gradient(to top,rgb(223, 213, 213),rgba(238, 235, 235, 0.46));
  --h2-background-gradient: linear-gradient(to top,var(--color-contenedor-background), rgb(238, 235, 235)); 
  --color-logo-pie:black; */
    /* Colores generales FIN*/

  /* Colores generales alternativos */
  --azul-principal:rgb(0, 0, 0);
  --naranja-principal:rgb(205, 162, 119);
  --color-body-background: rgba(255, 255, 255, 0.979);
  --azul-hover:rgb(124, 164, 124);
  --blanco-principal:rgb(234, 234, 234);
  --color-contenedor-background:rgb(207, 178, 150);
  --color-parrafo:black;
  --h1-background-gradient: linear-gradient(to top,var(--color-contenedor-background),rgba(238, 235, 235, 0.46));
  --h2-background-gradient: linear-gradient(to top,var(--color-contenedor-background), rgb(238, 235, 235));
  --color-logo-pie:black;
  /* Coleres generales alternativos FIN */
}






/*============== MENU PRINCIPAL Y RESPONSIVE ============================*/
.contenedor-contenedor-nav-principal-y-logo {
  background: var(--azul-principal);
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 20;
}
.contenedor-nav-principal-y-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
}
.nav {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: right;
}
.logo-container {
  display: flex;
  position: relative;
  justify-content: left;
  font-size: 10px;
  width: 10%;
  
}
.logo {
  position: relative;
  align-self: center;
  margin-left: 40px;
  text-decoration: none;
  color:var(--naranja-principal);
  font-size: 30px;
  display: inline-block;
  user-select: none;
}

.nav__li {
  display: inline-block;
  padding: 15px;
  margin-right: 20px;
}

.nav__li a {
  color:var(--blanco-principal);
  text-decoration: none;
  padding: 14px;
}


.nav__li:hover > a {
  color: var(--naranja-principal);
}


.nav__li i {
  margin-right: 8px;
}

/*fin menu*/

/*menu responsive*/
.nav__responsive-button {
  padding: 11px 55px;
  text-align: right;
  width: 10px;
  box-sizing: border-box;
  color: var(--naranja-principal);
  font-size: 25px;
}

.nav__responsive-ul {
  width: 100%;
  
  display: none;
}
/*fin menu responsive*/

@media only screen and (max-width: 800px) {
  body {
    min-width: 300px;
  }
  .logo-container {
    width: 30%;
  }
  .nav__ul {
    display: none;
  }

  .nav__responsive-ul {
    min-width: 250px;
    top: -2px;
    display: block;
    height: auto;
    
    list-style: none;
  }

  .nav__li-container {
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    margin-top: -270px;
    transition: 0.2s;
  }

  .nav__responsive-button-container {
    position: relative;
    background: var(--azul-principal);
    padding: 2px;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    z-index: 20;
  }

  .nav__responsive-li {
    z-index: 10;
    position: relative;
    padding: 10px;
    background:var(--azul-principal);
    box-shadow: -5px -5px 10px -10px rgb(106, 153, 182);
  }

  .nav__responsive-li i {
    margin-right: 8px;
  }

  .nav__responsive-li a {
    color:var(--blanco-principal);
    text-decoration: none;
  }

  .nav__responsive-li a:hover {
    color: var(--naranja-principal);
    text-decoration: none;
  }

  .nav__responsive-ul:hover > .nav__li-container {
    margin-top: 0px;
  }

  
}

/*============== MENU PRINCIPAL Y RESPONSIVE FIN============================*/














/*===================== BOTON VOLVER A EJERCICIOS ===========================*/

.boton {
  box-sizing: border-box;
  display: block;
  width: 35%;
  margin: 25px auto;
  padding: 15px;
  border: none;
  background: var(--azul-hover);
  text-align: center;
  text-decoration: none;
  color: var(--blanco-principal);
  border-radius: 5px;
}

.boton:hover {
  display: block;
  width: 35%;
  margin: 25px auto;
  padding: 15px;
  border: none;
  background: var(--azul-principal);
  text-align: center;
  text-decoration: none;
  color: var(--naranja-principal);
  border-radius: 5px;
}

/*===================== BOTON VOLVER A EJERCICIOS FIN ===========================*/



















/*================== ESTILOS CONTENEDOR =================*/
.contenedor {
  width: 90%;
  min-height: 70vh;
  min-width: 250px;
  max-width: 1100px;
  background: var(--color-contenedor-background);
  border-radius: 5px;
  padding: 20px;
  margin: 80px auto 20px;
  box-shadow: 0px 0px 25px -15px rgb(0, 0, 0);
}

.contenedor h1 {
  background:var(--h1-background-gradient);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: var(--azul-principal);
}

.contenedor p {
  margin-bottom: 30px;
  color: var(--color-parrafo);
  padding: 20px;
}

.explicación {
  position: relative;
  margin: 30px auto;
  margin-top: 50px;
  width: auto;
  height: auto;
  
}

.explicación2 {
  position: relative;
  margin: 30px auto;
  width: auto;
  height: auto;
  
}

h2 {
  margin-top: 60px;
  background: var(--h2-background-gradient);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: var(--azul-principal);
}


/*================== ESTILOS CONTENEDOR FIN =================*/











/*========== EJEMPLO CUADRADOS =====================================*/
.contenedor-ejemplos-cuadrados {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  height: auto;
  width: 90%;
  min-width: 250px;
  max-width: 1140px;
  background: rgb(223, 213, 213);
  border-radius: 5px;
  padding: 20px;
  margin: 50px auto;
}
.bloque2 {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  background: rgb(213, 236, 191);
}
.bloque2 div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ejemplo-cuadrados-caja1 {
  position: absolute;
  display: inline-block;
  background: gray;
  color: orange;
  width: 100px;
  height: 100px;
}
.ejemplo-cuadrados-caja2 {
  position: absolute;
  display: inline-block;
  background: skyblue;
  color: green;
  width: 100px;
  height: 100px;
  right: 0px;
}
.ejemplo-cuadrados-caja3 {
  position: absolute;
  display: inline-block;
  background: green;
  color: pink;
  width: 100px;
  height: 100px;
  bottom: 0px;
}
.ejemplo-cuadrados-caja4 {
  position: absolute;
  display: inline-block;
  background: violet;
  color: skyblue;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 0px;
}
.ejemplo-cuadrados-caja5 {
  position: absolute;
  display: block;
  background: orange;
  color: gray;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .contenedor-ejemplos-cuadrados {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 90%;
    min-width: 250px;
    max-width: 1140px;
    background: rgb(223, 213, 213);
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto;
  }
}

/*================= EJEMPLO CUADRADOS FIN ==============================*/








/*=============EJEMPLO FLEX============================================*/

/*PROPIEDAD FLEX: Si tenemos por ejemplo un div y le damos display:flex;
el div sique actuando como en display block, la diferencia es que ahora
su hijos seran flexibles. Después, a los hijos podremos darles 
propiedades flex.*/

.flex-container {
  margin: 50px auto;
  max-width: 800px;
  min-width: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(62, 59, 59);

  padding: 20px;
  border-radius: 5px;
}

.form__input {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid rgb(72, 145, 145);
  background: rgb(62, 59, 59);
  outline: none;
  color: aliceblue;
  border-radius: 5px;
}

.form__input:focus {
  background: rgb(62, 59, 59);
  border-bottom: 3px solid rgb(15, 250, 250);
  background: linear-gradient(to bottom, transparent, rgb(80, 68, 68));
}

.form {
  min-width: 200px;
  flex: 1;
  text-align: center;
  border-radius: 5px;
  order: 5;
}

.form-img {
  display: flex;
  flex: 1;
  padding: 0px;
  min-width: 280px;
  max-width: 280px;
}

.form-img div {
  padding: 20px;
}

.img-container {
  margin: auto;
}

.img-container div {
  background: transparent;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
}

.form-img img {
  width: 90%;
  margin: auto;
}

.form textarea {
  min-height: 120px;
  resize: none;
  border-radius: 5px;
}

.form input[type="submit"] {
  width: 80px;
  border-radius: 10px;
  background: rgb(72, 145, 145);
}

.form input[type="submit"]:hover {
  background: rgb(34, 97, 97);
}

/*=========== EJEMPLO PROPIEDAD FLEX FIN====================*/




















/*=================== EJEMPLO OVERFLOW - ANIMACIOÓN PERRETE ============*/
/*OVERFLOW: (significa desbordamienrto) 


Con overflow podemor definir que queremos que pase cone el contenido que 
sobresale de la caja. En el siguiente ejemplo hemos creado un div y le hemos
dado dimensiones en forma de cuadrado con bordes redondos, también le hemos puesto
borde verde y fondo gris. Luego le hemos añadido una imagen que hemos posicionado
con un margin-top: 300px, para que se salga del cuadrado y hemos le hemos dado
la propiedar overflow: hidden, para que oculte todo lo que no esté dentro de la caja.
Finalmente hemos creado una pequeña animación que inicia al pasar por encima de la 
caja, y hace que la imagen vuelva a su posición de origen con margin-top: 0px*/

.contenedor-overflow {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  border-radius: 20%;
  width: 300px;
  height: 300px;
  border: 4px solid #297396;
  background: grey;
  overflow: hidden; /* overflow es un shorthand, podemos ajusta eje x,y en la misma 
	linea de codigo. */
}
.contenedor-overflow p {
  align-self: center;
  position: absolute;
  color: orange;
}
.img-perrete-overflow {
  width: 300px;
  height: 300px;
  transition: all 0.3s;
  margin-top: 300px;
}
.contenedor-overflow:hover img {
  margin-top: 0px;
}
.contenedor-overflow:hover p {
  display: none;
}
/*=================== EJEMPLO OVERFLOW - ANIMACIOÓN PERRETE FIN  ============*/























/*=============== ESTILO CONTENEDOR-EJEMPLOS PRINCIPIANTE ==============*/

.estanteria-libros {
  width: 100%;
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 480px;
  justify-items: center;
}
@media screen and (max-width: 700px) {
  .estanteria-libros {
    grid-template-columns: 100%;
    grid-template-rows: 480px 480px;
  }
}

.titulo-libro {
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
  text-decoration-line: underline;
}
.titulo-libro-nivel-medio {
  color: #333;
  font-size: 20px;
  text-decoration-line: underline;
}

.libro {
  width: 320px;
  margin: 0px;
}

.contenedor-ejemplos {
  position: absolute;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  margin-top: 35px;
  width: 250px;
  height: 390px;
  background: radial-gradient(#53a1c5,#237ba4) ;
  border-radius: 0px 10px 10px 0px;
  z-index: 1;
}

.contenedor-ejemplos a {
  display: block;
  text-decoration: none;
  margin: 5px;
  color: #2b5d74;
}

.contenedor-ejemplos a:hover {
  color: #fff;
}

.contenedor-ejemplos a:visited {
  color: orange;
}

.hoja1 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 18px;
  margin-left: 16px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja2 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 20px;
  margin-left: 14px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja3 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 22px;
  margin-left: 12px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja4 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 24px;
  margin-left: 10px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja5 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 26px;
  margin-left: 8px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja6 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 28px;
  margin-left: 6px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja7 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 30px;
  margin-left: 4px;
  border-left: 15px dotted rgb(140, 155, 4);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja8 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 32px;
  margin-left: 2px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja9 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 34px;
  margin-left: 0px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.tapa-trasera {
  position: absolute;
  margin-top: 15px;
  margin-left: 19px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #4191b6;
  border-radius: 0px 10px 10px 0px;
  box-shadow: grey 5px -5px 50px;
}

/*=============== ESTILO CONTENEDOR-EJEMPLOS PRINCIPIANTE FIN ==============*/














/*================ LIBRO EJEMPLOS NIVEL MEDIO ========================*/
.libro__nivel-medio {
  width: 320px;
  margin: 0px;
}

.contenedor__ejemplos-nivel-medio {
  position: absolute;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  margin-top: 35px;
  width: 250px;
  height: 390px;
  background: radial-gradient(#5b9283,#48796c);
  border-radius: 0px 10px 10px 0px;
  z-index: 1;
}

.contenedor__ejemplos-nivel-medio a {
  display: block;
  text-decoration: none;
  color: #0a3609;
  margin: 5px;
}

.contenedor__ejemplos-nivel-medio a:hover {
  color: #fff;
}

.contenedor__ejemplos-nivel-medio a:visited {
  color: orange;
}

.hoja1 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 18px;
  margin-left: 16px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja2 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 20px;
  margin-left: 14px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja3 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 22px;
  margin-left: 12px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja4 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 24px;
  margin-left: 10px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja5 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 26px;
  margin-left: 8px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja6 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 28px;
  margin-left: 6px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja7 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 30px;
  margin-left: 4px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja8 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 32px;
  margin-left: 2px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.hoja9 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 34px;
  margin-left: 0px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;
}

.tapa-trasera__nivel-medio {
  position: absolute;
  margin-top: 15px;
  margin-left: 19px;
  border-left: 15px dotted rgb(2, 70, 20);
  padding: 20px;
  width: 250px;
  height: 390px;
  background: #26594b;
  border-radius: 0px 10px 10px 0px;
  box-shadow: grey 5px -5px 50px;
}
/*========= lIBRO EJEMPLOS NIVEL MEDIO FIN ======================*/














/*======== EJEMPLO DE LA PROPIEDAD GRID ======================*/
.grid-container {
  background: slategrey;
  padding: 10px;
  display: grid;
  grid-template-columns: 150px 150px 1fr;
  grid-template-rows: 150px 150px 150px;
  gap: 5px;
  /* grid-auto-flow: column; */
  /*descomenta esta propiedad para ver como crea columnas extra en vez de filas*/
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.grid-item {
  background: rgb(186, 221, 186);
  border: 1px solid black;
}

.grid-item:first-child {
  background: red;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.grid-item:nth-child(5) {
  background: blue;
  grid-column: 2 / span 2;
}

/*======== EJEMPLO DE LA PROPIEDAD GRID FIN======================*/














/*======== EJEMPLO DE LA PROPIEDAD GRID RESPONSIVE======================*/
.grid-container2 {
  background: slategrey;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /*cambiar auto-fit
  por auto-fill para ver diferencia*/
  grid-template-rows: 150px 150px 150px;
  gap: 5px;

  /* grid-auto-flow: column; */
  /*descomenta esta propiedad para ver como crea columnas extra en vez de filas*/
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.grid-item2 {
  background: rgb(186, 221, 186);
  border: 1px solid black;
}

.grid-item2:first-child {
  background: red;
}

.grid-item2:nth-child(5) {
  background: blue;
}

/*=============FIN EJEMPLO DE LA PROPIEDAD GRID RESPONSIVE===============*/













/*============== EJEMPLO ALINECIÓN DE UN GRID =================*/
.grid-container3 {
  height: 700px;
  background: slategrey;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.grid-item3 {
  width: 100px;
  height: 100px;
  background: rgb(186, 221, 186);
  border: 1px solid black;
}

.grid-item3:first-child {
  background: red;
  order: 20;
}

.grid-item3:nth-child(5) {
  background: blue;
  align-self: end;
  justify-self: end;
  order: 15;
}

.grid-item3:nth-child(7) {
  background: pink;
  align-self: start;
  justify-self: start;
  order: 17;
}

/*============== EJEMPLO ALINECIÓN DE UN GRID FIN =================*/













/*======== EJEMPLO DE LA PROPIEDAD GRID-TEMPLATE-AREA ======================*/
.grid-container4 {
  background: rgb(56, 135, 213);
  padding: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: [primera-columna] 150px [segunda-columna] 150px [tercera-columna] 150px;

  grid-template-rows: [primera-fila] 150px [segunda-fila] 150px [tercera-fila] 150px;

  gap: 5px;

  /* grid-auto-flow: column; */
  /*descomenta esta propiedad para ver como crea columnas extra en vez de filas*/
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.grid-item4 {
  background: rgb(186, 221, 186);
}

.grid-item4:first-child {
  background: red;
  grid-column: primera-columna/tercera-columna;
}

.grid-item4:nth-child(2) {
  background: blue;
  grid-row: primera-fila/tercera-fila;
  grid-column: tercera-columna;
}

/*============= FIN EJEMPLO DE LA PROPIEDAD GRID-TEMPLATE-AREA ===============*/














/*============= EJEMPLO CURSOR ==================*/


/*CURSOR:  para cambiar el cursor al pasar por encima de algun elemento
o al seleccionar o pulsar. Ver todas las opciones en la siguiente web:
https://www.w3schools.com/cssref/tryit.php?filename=trycss_cursor*/

/*algunos ejemplos*/

.contenedor-ejemplos-cursor {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contenedor-ejemplos-cursor div {
  width: 100px;
  height: 100px;
  border: 6px solid rgb(54, 32, 107);
  background: rgb(181, 212, 212);
  display: inline-block;
  border-radius: 20px;
}

.caja-1 {
  cursor: pointer;
}

.caja-2 {
  cursor: e-resize;
}

.caja-3 {
  cursor: crosshair;
}

.caja-4 {
  cursor: copy;
}

.caja-5 {
  cursor: grab;
}

.caja-6 {
  cursor: help;
}

.caja-7 {
  cursor: move;
}

.caja-8 {
  cursor: zoom-in;
}

/*============= EJEMPLO CURSOR FIN==================*/















/* ======================== EJEMPLO CAJAS DE COLORES ================*/

.contenedor-cajas {
  background: rgb(248, 248, 233);
  width: auto;
  height: auto;
  margin-top: 50px;
}

.contenedor-cajas div {
  width: 120px;
  height: 120px;
  padding: 20px;
  box-sizing: border-box;
}

.caja1 {
  background: green;
}

.caja2 {
  background: violet;
  position: relative;
  /*al darle position: relative; podemor darle propiedad 
	top, rigth, bottom y left además de z.indez*/
  top: 20px;
  left: 20px;
}

.caja3 {
  position: relative;
  background: orange;
  z-index: 50;
  /*con z.index podemos dar jerarquía de orden en eje Z. Cuanto mayor 
	es el numero mas al frente se mostrará. z.index es 0 por defecto, podemos posicionar
	elementos por encima de 0 y por debajo de 0. en este ejemplo tenemos a caja3 por 
	encima de caja2. Se recomienda dar valores de al menos de 50 en 50, así si vamos
	añadiendo elementos tenemos margen de ir colocandolos es la capa correspondiente.
	*/
}

.caja4 {
  background: grey;
  position: relative;
  top: 20px;
  /*cuando damos valor a top y left, bottom y rigth no se tendrán en cuenta, 
	poque top y left tienen mas importancia y jerarquía. Si ponemos top y left a 0px 
	veremos entonces que si toma los valores de bottom y rigth. (probar ejemplo)*/
  left: 20px;
  bottom: 20px;
  right: 20px;
}

/* ======================== EJEMPLO CAJAS DE COLORES FIN ================*/

















/*============= PÁGINA SOBRE MI =====================*/
.contenerdor-sobre-mi-y-foto-de-javi {
  display: flex;
  width: 60%;
  margin: 0px auto;
}
.contenedor-sobre-mi {
  margin: 50px auto;
  padding: 30px;
  border-left: 1px solid #297396;
  border-top: 1px solid #297396;
}
.me-llamo-javi {
  letter-spacing: 15px;
}
.contenerdor-sobre-mi-y-foto-de-javi img {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media screen and (max-width: 500px) {
  .contenerdor-sobre-mi-y-foto-de-javi {
    margin-top: 20px;
    position: relative;
    width: 100%;
    display: block;
    border: none;
    border: 1px solid var(--azul-principal);
    border-radius: 5px;
    background: linear-gradient(var(--azul-principal), rgb(223, 213, 213));
  }
  .contenedor-sobre-mi {
    position: relative;
    margin: 20px auto;
    margin-bottom: 0px;
    padding: 10px;
    border: none;
  }
  .contenedor-sobre-mi p {
    color: var(--naranja-principal);
  }
  .contenedor-foto-de-javi {
    width: 100%;
    display: flex;
  }
  .contenerdor-sobre-mi-y-foto-de-javi img {
    position: relative;
    margin: 40px auto;
    margin-top: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
/*============= PÁGINA SOBRE MI FIN =====================*/












/*============= EJEMPLO DE LA PROPIEDAD FLOAT =====================*/
.contenedor-foto-ejemplo-float {
  width: 60%;
  background: rgb(223, 213, 213);
  margin: 0px auto;
  border: 1px solid #297396;
  padding: 30px;
  margin: 50px auto;
}
.contenedor-foto-ejemplo-float img {
  float: right;
  margin: 20px;
}
@media screen and (max-width: 600px) {
  .contenedor-foto-ejemplo-float {
    width: 80%;
  }
  .contenedor-foto-ejemplo-float img {
    float: right;
    width: 150px;
    height: 150px;
  }
}
/*============= EJEMPLO DE LA PROPIEDAD FLOAT FIN =====================*/













/*========= GALERÍA DE FOTOS CON GRID ============================*/

.grid-contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

.grid-contenedor-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-contenedor-galeria img:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.grid-contenedor-galeria img:nth-child(6) {
  grid-column: 2/4;
  grid-row: 3/5;
}

.grid-contenedor-galeria img:nth-child(7) {
  grid-row: span 3;
}

/*========= GALERÍA DE FOTOS CON GRID FIN ============================*/














/*================ ESTRUCTURA WEB CON GRID ========================*/

.contenedor-web-grid {
  display: grid;
  margin: 10px;
  grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main"
    "aside main main"
    "footer footer footer";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 70vh;
}

.item-grid {
  padding: 20px;
}

.header {
  grid-area: header;
  background: orange;
}

.aside {
  grid-area: aside;
  background: rgb(190, 235, 190);
}

.main {
  grid-area: main;
  background: #aabdc6;
}

.footer {
  grid-area: footer;
  background: #c0c569;
}

/*================ ESTRUCTURA WEB CON GRID FIN ========================*/

















/*========= EJEMPLO RESPONSIVE DESIGN CON @MEDIA=============*/

.div-responsive-design {
  background: rgb(15, 100, 100);
}

@media screen and (min-width: 400px) AND (max-width: 600px) {
  .div-responsive-design {
    background: rgb(155, 10, 10);
  }
}

@media screen and (min-width: 600px) AND (max-width: 700px) {
  .div-responsive-design {
    background: rgb(243, 103, 103);
  }

  .div-responsive-design p {
    color: #333;
  }
}

@media screen and (min-width: 700px) AND (max-width: 800px) {
  .div-responsive-design {
    background: rgb(95, 33, 33);
  }

  .div-responsive-design p {
    height: 500px;
    color: rgb(251, 242, 242);
    font-size: 20px;
  }
}

/*========= FIN EJEMPLO RESPONSIVE DESIGN CON @MEDIA=============*/




















/*==========EJEMPLO RESPONSIVE DESIGN CON @MEDIA + GRID =============*/
.contenedor-reponsive-grid {
  height: 500px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 300px);
}

.header__responsive {
  background: pink;
}

.main__responsive {
  background: green;
}

.aside__responsive {
  background: violet;
}

.footer__responsive {
  background: orange;
}

@media screen and (min-width: 400px) {
  .contenedor-reponsive-grid {
    height: 90vh;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 80px;
  }

  .contenedor-reponsive-grid div {
    padding: 20px;
    color: rgb(50, 67, 82);
  }

  .header__responsive {
    background: pink;
    grid-column: 1 / span 3;
  }

  .main__responsive {
    background: green;

    grid-column: 1 / span 2;
  }

  .aside__responsive {
    background: violet;
  }

  .footer__responsive {
    background: orange;
    grid-column: 1 / span 3;
  }
}

/*==========EJEMPLO RESPONSIVE DESIGN CON @MEDIA + GRID =============*/















/*======== EJEMPLO TRANSITION =================*/
.box-container-transition {
  padding: 20px;
  background: rgb(203, 129, 141);
  position: relative;
}

.box {
  position: relative;
  margin: 2px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 0px;
  transition-property: left, background;
  transition-duration: 2s;
}

.box-container-transition:hover > .box {
  left: 80%;
  background: #297396;
}

.box:first-child {
  background: pink;
  transition-timing-function: ease;
}

.box:nth-child(2) {
  background: pink;
  transition-timing-function: ease-in;
}

.box:nth-child(3) {
  background: pink;
  transition-timing-function: ease-in-out;
}

.box:nth-child(4) {
  background: pink;
  transition-timing-function: ease-out;
}

.box:last-child {
  background: pink;
  transition-timing-function: linear;
}

/*======== EJEMPLO TRANSITION FIN =================*/

















/*======== EJEMPLO ANIMATION ==========================*/
.box-container-animation {
  padding: 20px;
  background: rgb(203, 129, 141);
  position: relative;
}

.circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: pink;
  margin: 10px;
  position: relative;
  animation-name: desplazamiento;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /*valor infinite para que se repita siempre.*/
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  text-align: center;
  font-size: 40px;
}

@keyframes desplazamiento {
  0% {
    color: transparent;
    left: 0%;
  }

  50% {
    color: orange;
    left: 40%;
    background: #297396;
  }

  100% {
    color: transparent;
    left: 80%;
    background: pink;
  }
}

/*======== EJEMPLO ANIMATION FIN ==========================*/
















/*======== EJEMPLO ANIMATION Y CUBIC-BEZIER ==========================*/
.box-container-animation-2 {
  padding: 20px;
  background: rgb(203, 129, 141);
  position: relative;
}

.circulo-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: pink;
  margin: 10px;
  position: relative;
  animation-name: desplazamiento;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /*valor infinite para que se repita siempre.*/
  animation-timing-function: cubic-bezier(0.57, 0.72, 0.42, -0.3);
  /*Con cubic-bezier podemor modificar la animacios a nuestro
  gusto, podemor crear generarlos fácilmente en cubic-bezier.com*/
  animation-direction: alternate;
  animation-fill-mode: forwards;
  text-align: center;
  font-size: 40px;
}

/*======== EJEMPLO ANIMATION Y CUBIC-BEZIER FIN ==========================*/




















/*=============== EJEMPLO TRANSFORM ========================*/

.contenedor-recipiente-caja {
  background: #c7c7c8;
  display: flex;
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

.recipiente-caja {
  display: flex;
  margin: auto;
}

.caja__transform {
  color: orange;
  font-size: 20px;
  position: relative;
  display: flex;
  margin: auto;
  background: #297396;
  width: 100px;
  height: 100px;
  clip-path: polygon(
    0 26%,
    100% 26%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );

  transition: transform 0.2s;
}

.listo {
  margin: auto;
}

.adelante {
  margin: auto;
  display: none;
}

@keyframes adelante {
  from {
    left: 0%;
  }

  to {
    left: 10%;
  }
}

.recipiente-volver-a-ejercicios {
  margin: auto;
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
}

.volver-a-ejercicios {
  text-decoration: none;
  color: orange;
  background: #297396;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  display: none;
}

.recipiente-caja:hover > .caja__transform {
  transform: translateX(100px);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );

  animation-name: adelante;
  animation-duration: 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* background-image: url(https://consejerodigital.com/wp-content/uploads/2019/11/go-lenguaje-programacion.jpg); */
  background-image: url(https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1444129479/content-items/001/418/265/goiniverd-original.jpg?1444129479);
  background-size: 110px;
  background-repeat: no-repeat;
  /* background-position: -25px 20px; */
  background-position: 0px 0px;
}

.recipiente-caja:hover > .caja__transform b {
  color: orange;
}

.recipiente-caja:hover > .caja__transform .adelante {
  display: block;
  font-size: 30px;
  color: #297396;
}

.recipiente-caja:hover > .caja__transform .listo {
  display: none;
}

.recipiente-caja:hover > .recipiente-volver-a-ejercicios .volver-a-ejercicios {
  text-decoration: none;
  color: orange;
  background: #297396;
  border-radius: 5px;
  padding: 15px;
  margin: auto;
  display: block;
}

/* EJEMPLO animación dado transform*/
.contenedor-cubo {
  min-height:50vh ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.cubo {
  
  perspective: 700px;
  position: relative;
  height: 200px;
  background: #c0c569;
  width: 200px;
}
.cara {
  position:absolute;
  width: 100px;
  height: 100px;
}
#uno {
  background: crimson;
  transform: translateZ(100px);
}
#dos {
  background: orange;
  transform: translateX(50px) rotateY(90deg);
}
#tres {
  background: yellow;
  transform: translateZ(-100px);
  }
  #cuatro {
    background: blue;
    transform: translateX(-100px) rotateY(90deg);
  }
/* EJEMPLO animación dado transform*/

/*Ejemplo animación cubos 3D*/
.almacen-contenedores{
  min-height: 500px;
  margin: 0;
  padding: 0;
  background: gray;
  display: flex;
  
}



.contenedor-cubo-2 {
 

  margin: 100px auto;
  perspective: 900px;
  perspective-origin: 0px -350px;

}



.cubo2 {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: girar 10s infinite linear;

}

@keyframes girar {
  from {
      transform: rotateY(0deg);

  }

  to {
      transform: rotateY(360deg);
  }
}

.cara-cubo-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  background: radial-gradient(rgba(255, 255, 255, 0.831), transparent);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cubitos2 {

  box-sizing: content-box;

}

#uno-2 {
  box-sizing: border-box;
  transform: translateZ(100px);
}

#uno-2 :nth-child(2) {
  background: green;
}

#uno-2 :nth-child(3) {
  background: green;
}

#uno-2 :nth-child(4) {
  border-bottom: 20px solid green;
}

#uno-2 :nth-child(6) {
  background: green;
}

#uno-2 :nth-child(7) {
  background: green;
}

#uno-2 :nth-child(8) {
  background: green;
}

#uno-2 :nth-child(9) {
  background: green;
}

#dos-2 {

  transform: translateX(100px)rotateY(90deg);

}

#dos-2 :nth-child(2) {
  background: yellow;
}

#dos-2 :nth-child(4) {
  background: yellow;
}

#dos-2 :nth-child(5) {
  border-bottom: 20px solid yellow;

}

#dos-2 :nth-child(6) {
  background: yellow;
}

#dos-2 :nth-child(7) {
  background: yellow;
}

#dos-2 :nth-child(9) {
  background: yellow;
}

#dos-2 :nth-child() {
  background: yellow;
}

#tres-2 {

  transform: translateZ(-100px);
}

#tres-2 :nth-child(3) {
  background: orange;
}

#tres-2 :nth-child(1) {
  background: orange;
}

#tres-2 :nth-child(4) {
  background: orange;
}

#tres-2 :nth-child(6) {
  background: orange;
}

#tres-2 :nth-child(8) {
  background: orange;
}

#cuatro-2 {

  transform: translateX(-100px) rotateY(90deg);
}

#cuatro-2 :nth-child(1) {
  background: blue;
}

#cuatro-2 :nth-child(2) {
  background: blue;
}

#cuatro-2 :nth-child(3) {
  background: blue;
}

#cuatro-2 :nth-child(5) {
  background: blue;
}

#cuatro-2 :nth-child(7) {
  background: blue;
}

#cuatro-2 :nth-child(8) {
  background: blue;
}

#cuatro-2 :nth-child(9) {
  background: blue;
}

#cinco-2 {

  transform: translateY(-100px)rotateX(90deg);

}


#seis-2 {

  transform: translateY(100px) rotateX(90deg);
}
/*Ejemplo animación cubos 3D FIN*/

/*=============== EJEMPLO TRANSFORM FIN ========================*/















/*============ EJEMPLO PROPIEDADES DE BACKGROUND ===========*/

.caja__background {
  background: pink;
  background-image: url(https://www.creativosonline.org/wp-content/uploads/2014/07/0-fondos-escritorio-cataratas-1280.jpg);
  display: flex;
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-attachment: fixed;
  margin: 20px 0px;
}

.relax {
  color: orange;
  margin: auto;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

/*============ EJEMPLO PROPIEDADES DE BACKGROUND ===========*/












/*==================== EJEMPLO DE VARIABLES (COMMON PROPERTIES) GLOBALES Y LOCALES =================*/

/*Para definir una variable:  --VarName: y aquí lo que quieres que haga*/
/*para usarla: var(--VarName)*/

:root {
  /*Hemos definido una variable en :root (variable global), ahora podemos
  usarla con cualquier elemento*/
  --color-rojo: rgb(179, 46, 46);
  --color-azul: rgb(26, 96, 146);
 
  
}

h6 {
  /*Hemos definido una variable dentro de h6 (variable local), en este caso sólo 
  podemos usar la variable dentro de los h6.*/
  --color-verde: rgb(6, 134, 76);
  --color-azul: rgb(120, 171, 207);  /*esta variable definida dentro de h6,
  tiene el mismo nombre que la definida en :root, pero son distintas porque esta sólo
  se puede usar en h6, aunque comparte el mismo nombre son distintas*/
  --color-rojo: rgb(179, 46, 46);
  --font-size: 50px;
  
}

.contenedor__variables div {
  width: 100px;
  height: 100px;
  margin: 30px;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.boxuno {
  background: var(--color-rojo);
  font-size: var(--font-size);
  /*Aquí no funciona porque esta variable
  se definió dentro de h6.*/
}

.boxdos {
  background: var(--color-azul);
}

h6 {
  background-color: var(--color-azul);
  font-size: var(--font-size);
  padding: 20px;
}

/*==================== EJEMPLO DE VARIABLES GLOBALES Y LOCALES FIN =================*/













/*============= EJEMPLO DE OBJET-FIT Y OBJET-POSITION ==============*/

/*OBJECT-FIT: es una propiedad que se aplica a las imagenes.

fill:

contain:

cover:

none:

scale-down:

*/
.contenedor__perretes div {
  margin: 20px;
  width: 150px;
  height: 250px;
  display: inline-block;
}

.perrete1 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: cover;
  /*con object-fit: cover; la img rellena el 
	tamaño de la perrete div sin estirar ni alargar la imagen. */
}

.perrete2 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: contain;
  /* con object-fit: contain; la imagen se ajusta
	lo máximo posible a la perrete pero sin deformar la img */
}

.perrete3 {
  width: 100px;
  height: 100px;
}

.perrete3 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: none;
  /* con object-fit: none; la imagen se muestra a 
	su tamaño real.*/
}

.perrete4 {
  width: 200px;
}

.perrete4 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: fill;
  /*con object-fit: fill; la imagen de adapta al 
	tamaño de la la perrete sin respetar las proporciones de la imagen, 
	se alarga o estrecha si es necesario. */
}

.perrete5 {
  width: 200px;
  height: 100px;
}

.perrete5 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: scale-down;
  /*con object-fit: scale-down; si la perrete es
	mayor en dimensiones al tamñao de img, la imagen se muestra a tamaño
	real, si la perrete es mas pequeña la img se adapta mantenido la 
	proporcion.*/
}

/*OBJET-POSITION: con esta propiedad podemos darle posiones; top,
 left,rigth, bottom y tambien pordemos moverla con px,em,%, etc.*/

.perrete6 {
  width: 300px;
  height: 450px;
  display: block;
}

.perrete6 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 5px solid blue;
  object-fit: cover;
  object-position: left;
}

/*============= EJEMPLO DE OBJET-FIT Y OBJET-POSITION FIN==============*/


















/*============= EJEMPLO DE OBJET-FIT Y OBJET-POSITION MAS FILTER ==============*/

.contenedor__perretes__filter div {
  margin: 20px;
  width: 150px;
  height: 250px;
  display: inline-block;
}

.perrete__filter1 img {
  filter: blur(3px);
  /*desenfoca*/
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: cover;
  /*con object-fit: cover; la img rellena el 
	tamaño de la perrete div sin estirar ni alargar la imagen. */
}

.perrete__filter2 img {
  filter: brightness(3);
  /*añade brillo*/
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: contain;
  /* con object-fit: contain; la imagen se ajusta
	lo máximo posible a la perrete pero sin deformar la img */
}

.perrete__filter3 {
  filter: contrast(3);
  /*contraste*/
  width: 100px;
  height: 100px;
}

.perrete__filter3 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: none;
  /* con object-fit: none; la imagen se muestra a 
	su tamaño real.*/
}

.perrete__filter4 {
  filter: hue-rotate(200deg);
  /*gira la gama de colores de la imagen*/
  width: 200px;
}

.perrete__filter4 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: fill;
  /*con object-fit: fill; la imagen de adapta al 
	tamaño de la la perrete sin respetar las proporciones de la imagen, 
	se alarga o estrecha si es necesario. */
}

.perrete__filter5 {
  filter: grayscale(0.8);
  /* scala de 0 a 1.*/
  width: 200px;
  height: 100px;
}

.perrete__filter5 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid red;
  object-fit: scale-down;
  /*con object-fit: scale-down; si la perrete es
	mayor en dimensiones al tamñao de img, la imagen se muestra a tamaño
	real, si la perrete es mas pequeña la img se adapta mantenido la 
	proporcion.*/
}

/*OBJET-POSITION: con esta propiedad podemos darle posiones; top,
 left,rigth, bottom y tambien pordemos moverla con px,em,%, etc.*/

.perrete__filter6 {
  filter: invert(100%);
  /*invierte la gama de colores. (escala 0% a 100%)*/
  width: 300px;
  height: 450px;
  display: block;
}

.perrete__filter6 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 5px solid blue;
  object-fit: cover;
  object-position: left;
}

.perrete__filter7 {
  filter: opacity(30%);
  /*opacidad*/
  width: 300px;
  height: 450px;
  display: block;
}

.perrete__filter7 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 5px solid blue;
  object-fit: cover;
  object-position: left;
}

.perrete__filter8 {
  filter: saturate(15%);
  /*Saturación de imagen*/
  width: 300px;
  height: 450px;
  display: block;
}

.perrete__filter8 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 5px solid blue;
  object-fit: cover;
  object-position: left;
}

.perrete__filter9 {
  filter: sepia(1);
  /*Le da tono sepia. (escala de 0 a 1)*/
  width: 300px;
  height: 450px;
  display: block;
}

.perrete__filter9 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 5px solid blue;
  object-fit: cover;
  object-position: left;
}

.perrete__filter10 {
  width: 300px;
  height: 450px;
  display: block;
}

.perrete__filter10 img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 5px solid blue;
  object-fit: cover;
  object-position: left;
  filter: drop-shadow(10px 10px 5px black);
  /*Con drop-shadow podemos dar sombra al dibujo
  de imagenes .svg (transparentes), en este caso vemos sombra en todo el logo de react.*/
}

.contenedor__animacion {
  width: 90%;
  padding: 20px;
  min-width: 250px;
  max-width: 1140px;
  align-self: center;
  filter: contrast(30);
  background-color: rgb(223, 213, 213);
  margin: auto;
  border-radius: 10px;
}

.contenedor__animacion div {
  filter: blur(20px);
  position: relative;
  margin: 20px;
  display: inline-block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.bola1 {
  animation-name: transladar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /*valor infinite para que se repita siempre.*/
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: red;
}

.bola2 {
  left: 15%;
  background: red;
}

@keyframes transladar {
  0% {
    left: 10%;
  }

  100% {
    left: 35%;
  }
}

/*============= EJEMPLO DE OBJET-FIT Y OBJET-POSITION MAS FILTER FIN ==============*/



















/*================ OTRAS PORPIEDADES CSS ===========================*/

/*Propiedad DIRECTION:*/
.contenedor__otras-propiedades {
  border-radius: 5px;
  background: #c3db82;
  direction: rtl;
  /*valores left to rigth (ltr) o rigth to left (rtl), 
  cambia la direccion de las lineas. El valor por defecto es ltr.*/
}

/*Propiedad LETTER-SPACING: le da espaciado entre letra y letra.*/
h3 {
  letter-spacing: 20px;
  font-size: 30px;
  padding: 50px;
}

/*Propiedad LETTER-SPACING FIN*/


/*Propiedad SCROLL-BEHAVIUR Y USER-SELECT*/
#parrafo1 {
  user-select: none;
  /* A este parrafo le hemos añadido la propiedad user-selectct:none,
  ahora el usuario no podrá seleccionar ni copiar ninguna parte de este texto.*/
  background: #6bacc9;
  padding: 40px;
  border-radius: 5px;
}

#parrafo2 {
  padding: 40px;
  background: #7b888e;
  border-radius: 5px;
}

#parrafo3 {
  padding: 40px;
  background: #c0c569;
  border-radius: 5px;
}

.ir-a {
  width: 120px;
  padding: 2px;
  border-radius: 5px;
  text-decoration: none;
  background: var(--azul-principal);
  color: var(--blanco-principal);
  text-align: center;
  margin: 10px auto;
  display: inline-block;
}

.scroll-inicio {
  width: 120px;
  padding: 2px;
  border-radius: 5px;
  color: var(--blanco-principal);
  text-decoration: none;
  background: var(--azul-principal);
  text-align: center;
  margin: 10px auto;
  display: block;
}

/*Propiedad SCROLL-BEHAVIUR Y USER-SELECT FIN*/

/*================ OTRAS PORPIEDADES CSS FIN ===========================*/














/*========== EJEMPLO PSEUDO-ELEMENTOS ========================*/

/*PSEUDO-ELEMENTOS: Son elementos que no son elementos...es decir,
los pseudo-elemendo no forman parte del DOM, pero si podemos ver 
cambios visuales (como OUTLINE).

Estos son algunos pseudo-elementos:

::first-line: (no funciona en inline)

::first-letter: (no funciona en inline)

::placeholder: 	Para cambiar la los parametros de un input
tipo text antes de empezar a escribir.

::after: 

::before:

::selection: para cambiar los parametros del  
texto seleccionado en un input type text.


 */

/*Ejemplo*/

.text__first-line-first-letter::first-line {
  /*El pseudo-elemento first-line y first-letter 
 formman parte del DOM*/
  color: chocolate;
}

.text__first-line-first-letter::first-letter {
  color: #297396;
  font-size: 50px;
}

/*Ejemplo */
form {
  margin: 50px auto;
  display: block;
  border-radius: 15px;
  background: gray;
  padding: 20px;
  width: 300px;
}

input {
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  display: block;
  background: white;
}

/* input::placeholder { */
.ejemplo-placeholder::placeholder {
  /* con ::placeholder pordemos cambiar
  algunas propiedades de lo que se muestra en casilla antes
  de empezar a escribir */

  color: #297396;
  background: #c0c569;
}

input::selection {
  /*con ::selection podemos cambiar algunas 
propiedades cuando ya hemos escrito algo y luego lo
 seleccionamos.*/
  color: whitesmoke;
  background: green;
}

/*Ejemplo: En html tenemos un <p> que contiene la letra "a",
 y en css podemos añadirle texto antes y después 
 con before y after, tenemos que poner usar la propiedad content:"aquí el texto"*/

.ejemplo__before-y-after {
  margin: 50px auto;
  display: block;
  padding: 20px;
  text-align: center;
}

.ejemplo__before-y-after p::before {
  content: "me suscribí";
  background: green;
  color: orange;

  letter-spacing: 5px;
}

.ejemplo__before-y-after p::after {
  content: "almasindomitas";
  color: pink;
  background: brown;

  letter-spacing: 5px;
}

/*========== EJEMPLO PSEUDO-ELEMENTOS FIN ========================*/












/*=============== ESTILOS FOOTER ========================*/

.contenedor-pie-pagina {
  width:100%;
  display: flex;
  justify-content: center;
  
  
}
.pie-pagina {
  background: #fff;
  width: 90%;
  min-width: 250px;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 40px;
  padding: 20px;
  align-self: center;
  border-radius: 5px;
  box-shadow: 0px 0px 25px -20px rgb(0, 0, 0);
}

.pie-pagina div img{
  width: 30px;
  height: 30px;
}
.contenedor-menu-pie {
  display: flex;
  align-items: flex-end;
}
.menu-pie {
  display: flex;
  gap: 20px;
  
  }
.menu-pie a {
 
  color: var(--color-parrafo);
  text-decoration: none;
}
.menu-pie a:hover {
  color: var(--naranja-principal);
  
}
.contenedor-logos-redes {
display: flex;
align-items: flex-end;
gap: 30px;

}

.box-facebook img:hover {

  transition-duration: .4;
  transform: scale(1.2);
  
}
.box-twitter img:hover {
  transition-duration: .4;
  transform: scale(1.2);
}
.box-instagram img:hover {
  transition-duration: .4;
  transform: scale(1.2);
}
.contenedor-logo-pie {

  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.logo-pie {
  display: block;
  color: var(--color-logo-pie);
  font-size: 40px;
  
}


/*=============== ESTILOS FOOTER ========================*/