* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(238, 235, 235);

}

/*================== ESTILOS CONTENEDOR =================*/
.contenedor {
  height: auto;
  min-height: 500px;
  width: 90%;
  min-width: 250px;
  max-width: 1100px;
  background: rgb(223, 213, 213);
  border-radius: 5px;
  padding: 20px;
  margin: 50px auto;
}

.contenedor h1 {
  background: linear-gradient(to top, rgb(223, 213, 213), rgb(238, 235, 235));

  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: #297396;
}

.contenedor p {
  margin-bottom: 30px;
  color: #7b888e;
}

.explicación {
  position: relative;
  margin: 30px auto;
  width: auto;
  height: auto;
  background: rgb(223, 213, 213);
}

.explicación2 {
  position: relative;
  margin: 30px auto;
  width: auto;
  height: auto;
  background: rgb(223, 213, 213);
}

h2 {
  background: linear-gradient(to top, rgb(223, 213, 213), rgb(238, 235, 235));
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: #297396;
}

p {
  padding: 20px;
}

/*================== ESTILOS CONTENEDOR FIN =================*/

/*PROPIEDAD FLEX: Si tenemos por ejemplo un div y le damos display:flex;
el div sique actuando como en display block, la diferencia es que ahora
su hijos seran flexibles. Después, a los hijos podremos darles 
propiedades flex.*/

.flex-container {
  margin: 50px auto;
  max-width: 800px;
  min-width: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(58, 51, 51);

  padding: 20px;
  border-radius: 20px;
}

.form__input {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid rgb(72, 145, 145);
  background: rgb(58, 51, 51);
  outline: none;
  color: aliceblue;
}

.form__input:focus {
  background: #333;
  border-bottom: 3px solid rgb(15, 250, 250);
  background: linear-gradient(to bottom, transparent, rgb(80, 68, 68));
}

.form {
  min-width: 200px;
  flex: 1;
  text-align: center;

  order: 5;
}

.form-img {
  display: flex;
  flex: 1;
  padding: 0px;
  min-width: 280px;
  max-width: 280px;
}

.form-img div {
  padding: 20px;
}

.img-container {
  margin: auto;
}

.img-container div {
  background: transparent;
  border-radius: 20px;
  text-align: center;
  padding: 40px;
}

.form-img img {
  width: 90%;
  margin: auto;
}

.form textarea {
  min-height: 120px;
  resize: none;
}

.form input[type="submit"] {
  width: 80px;
  border-radius: 20px;
  background: rgb(72, 145, 145);
}

.form input[type="submit"]:hover {
  background: rgb(34, 97, 97);
}

/*=========== EJEMPLO PROPIEDAD FLEX FIN====================*/










/*===================== BOTON VOLVER A EJERCICIOS ===========================*/

.boton {
  box-sizing: border-box;
  display: block;
  width: 35%;
  margin: 0 auto;
  padding: 15px;
  border: none;
  background: #6BACC9;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 5px;


}

.boton:hover {

  display: block;
  width: 35%;
  margin: 0 auto;
  padding: 15px;
  border: none;
  background: #297396;
  text-align: center;
  text-decoration: none;
  color: orange;
  border-radius: 5px;
  margin-top: 5px;
}

/*===================== BOTON VOLVER A EJERCICIOS FIN ===========================*/













/*============== MENU PRINCIPAL Y RESPONSIVE ============================*/
.nav {
  background: #297396;
  text-align: center;
}

.nav__li {
  display: inline-block;
  padding: 15px;
  color: white;
}

.nav__li a {
  color: white;
  text-decoration: none;
  padding: 14px;
}

.nav__li:hover>a {
  color: orange;
}

.nav__li i {
  margin-right: 8px;
}

/*fin menu*/
/*menu responsive*/
.nav__responsive-button {
  padding: 15px 50px;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
}

/*fin menu responsive*/
.nav__responsive-ul {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav__ul {
    display: none;
  }

  .nav__responsive-ul {
    min-width: 250px;
    top: -2px;
    display: block;

    height: auto;
    width: 100%;
    list-style: none;
  }

  .nav__li-container {
    text-align: left;
    position: absolute;
    display: block;
    width: 60%;
    margin-top: -270px;
    transition: 0.2s;
  }

  .nav__responsive-button-container {
    position: relative;
    background: #297396;
    padding: 2px;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
  }

  .nav__responsive-button {}

  .nav__responsive-li {
    position: relative;
    padding: 10px;
    background: #6bacc9;
  }

  .nav__responsive-li i {
    margin-right: 8px;
  }

  .nav__responsive-li a {
    color: white;
    text-decoration: none;
  }

  .nav__responsive-li a:hover {
    color: orange;
    text-decoration: none;
  }

  .nav__responsive-ul:hover>.nav__li-container {
    margin-top: 0px;
  }
}

/*============== MENU PRINCIPAL FIN============================*/


















/*=============== ESTILO CONTENEDOR-EJEMPLOS ==============*/

.libro {
  margin-top: 0px;
}

.contenedor-ejemplos {
  position: absolute;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  margin-top: 35px;
  width: 250px;
  height: 350px;
  background: #6bacc9;
  border-radius: 0px 10px 10px 0px;
  z-index: 1;
}

.contenedor-ejemplos a {
  display: block;
  text-decoration: none;
  margin: 5px;
}

.contenedor-ejemplos a:hover {
  color: #fff;
}

.contenedor-ejemplos a:visited {
  color: orange;
}

.hoja1 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 18px;
  margin-left: 16px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;

}

.hoja2 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 20px;
  margin-left: 14px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;

}

.hoja3 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 22px;
  margin-left: 12px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;

}

.hoja4 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 24px;
  margin-left: 10px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;

}

.hoja5 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 26px;
  margin-left: 8px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;

}

.hoja6 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 28px;
  margin-left: 6px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;

}

.hoja7 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 30px;
  margin-left: 4px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;

}

.hoja8 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 32px;
  margin-left: 2px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;

}

.hoja9 {
  position: absolute;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-top: 34px;
  margin-left: 0px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #91a3ab;
  border-radius: 0px 10px 10px 0px;

}

.tapa-trasera {
  position: absolute;
  margin-top: 15px;
  margin-left: 19px;
  border-left: 15px dotted rgb(4, 75, 155);
  padding: 20px;
  width: 250px;
  height: 350px;
  background: #4191b6;
  border-radius: 0px 10px 10px 0px;
  box-shadow: grey 5px -5px 50px;

}

/*=============== ESTILO CONTENEDOR-EJEMPLOS FIN ==============*/









/*======== EJEMPLO DE LA PROPIEDAD GRID ======================*/
.grid-container {
  background: slategrey;
  padding: 10px;
  display: grid;
  grid-template-columns: 150px 150px 1fr;
  grid-template-rows: 150px 150px 150px;
  gap: 5px;
  /* grid-auto-flow: column; */
  /*descomenta esta propiedad para ver como crea columnas extra en vez de filas*/
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.grid-item {
  background: rgb(186, 221, 186);
  border: 1px solid black;
}

.grid-item:first-child {
  background: red;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.grid-item:nth-child(5) {
  background: blue;
  grid-column: 2 / span 2;
}


/*======== EJEMPLO DE LA PROPIEDAD GRID FIN======================*/












/*======== EJEMPLO DE LA PROPIEDAD GRID RESPONSIVE======================*/
.grid-container2 {
  background: slategrey;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /*cambiar auto-fit
  por auto-fill para ver diferencia*/
  grid-template-rows: 150px 150px 150px;
  gap: 5px;

  /* grid-auto-flow: column; */
  /*descomenta esta propiedad para ver como crea columnas extra en vez de filas*/
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.grid-item2 {
  background: rgb(186, 221, 186);
  border: 1px solid black;
}

.grid-item2:first-child {
  background: red;

}

.grid-item2:nth-child(5) {
  background: blue;

}

/*=============FIN EJEMPLO DE LA PROPIEDAD GRID RESPONSIVE===============*/





/*============== EJEMPLO ALINECIÓN DE UN GRID =================*/
.grid-container3 {
  
  height: 700px;
  background: slategrey;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 5px;
}


.grid-item3 {
  width: 100px;
  height: 100px;
  background: rgb(186, 221, 186);
  border: 1px solid black;
}

.grid-item3:first-child {
  background: red;
  order: 20;


}

.grid-item3:nth-child(5) {
  background: blue;
  align-self: end;
  justify-self: end;
  order: 15;
}
.grid-item3:nth-child(7) {
  background: pink;
  align-self: start;
  justify-self: start;
  order: 17;
}
/*============== EJEMPLO ALINECIÓN DE UN GRID FIN =================*/







/*======== EJEMPLO DE LA PROPIEDAD GRID-TEMPLATE-AREA ======================*/
.grid-container4 {
  background: rgb(56, 135, 213);
  padding: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns:
  [primera-columna] 
    150px
  [segunda-columna]
    150px
  [tercera-columna]
    150px;
  
  grid-template-rows: 
  [primera-fila]
  150px 
  [segunda-fila]
  150px
  [tercera-fila]
  150px;
 
  gap: 1px;

  /* grid-auto-flow: column; */
  /*descomenta esta propiedad para ver como crea columnas extra en vez de filas*/
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.grid-item4 {
  background: rgb(186, 221, 186);
 
}

.grid-item4:first-child {
  background: red;
  grid-column: primera-columna/tercera-columna;

}

.grid-item4:nth-child(2) {
  background: blue;
  grid-row: primera-fila/tercera-fila;
  grid-column: tercera-columna;

}

/*============= FIN EJEMPLO DE LA PROPIEDAD GRID-TEMPLATE-AREA ===============*/

























/*CURSOR:  para cambiar el cursor al pasar por encima de algun elemento
o al seleccionar o pulsar. Ver todas las opciones en la siguiente web:
https://www.w3schools.com/cssref/tryit.php?filename=trycss_cursor*/



/*algunos ejemplos*/

.contenedor-ejemplos-cursor {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contenedor-ejemplos-cursor div {

  width: 100px;
  height: 100px;
  border: 6px solid rgb(54, 32, 107);
  background: rgb(181, 212, 212);
  display: inline-block;
  border-radius: 20px;
}

.caja-1 {

  cursor: pointer;

}

.caja-2 {

  cursor: e-resize;

}

.caja-3 {

  cursor: crosshair;

}

.caja-4 {

  cursor: copy;

}

.caja-5 {

  cursor: grab;

}

.caja-6 {

  cursor: help;

}

.caja-7 {

  cursor: move;


}

.caja-8 {

  cursor: zoom-in;

}

/*============= EJEMPLO CURSOR FIN==================*/












/* ======================== EJEMPLO CAJAS DE COLORES ================*/

.contenedor-cajas {
	background: rgb(248, 248, 233);
	width: auto;
	height: auto;
}

.contenedor-cajas div{
	width: 120px;
	height: 120px;
	display: block;

}



.caja1{
	background: green;
	

}

.caja2{
	background: violet;
	position: relative;  /*al darle position: relative; podemor darle propiedad 
	top, rigth, bottom y left además de z.indez*/
	top: 20px;
	left: 20px;

}

.caja3{
	position: relative;
	background: orange;
	z-index: 50;/*con z.index podemos dar jerarquía de orden en eje Z. Cuanto mayor 
	es el numero mas al frente se mostrará. z.index es 0 por defecto, podemos posicionar
	elementos por encima de 0 y por debajo de 0. en este ejemplo tenemos a caja3 por 
	encima de caja2. Se recomienda dar valores de al menos de 50 en 50, así si vamos
	añadiendo elementos tenemos margen de ir colocandolos es la capa correspondiente.
	*/
	


}
.caja4{
	background: grey;
	position: relative;
	top: 20px;/*cuando damos valor a top y left, bottom y rigth no se tendrán en cuenta, 
	poque top y left tienen mas importancia y jerarquía. Si ponemos top y left a 0px 
	veremos entonces que si toma los valores de bottom y rigth. (probar ejemplo)*/
	left: 20px;
	bottom: 20px;
	right: 20px;

}
/* ======================== EJEMPLO CAJAS DE COLORES FIN ================*/








/*============= EJEMPLO DE LA PROPIEDAD FLOAT =====================*/

.contenedor-sobre-mi {

	margin: 50px auto;
	border-radius: 10px;
	width:60%;
	height: auto;
	
	background: ghostwhite;
	padding: 30px;
	
}


.contenedor-sobre-mi img{
	float:right;
	margin: 05px 20px 20px 20px;
	border-radius: 10px;
}
/*============= EJEMPLO DE LA PROPIEDAD FLOAT FIN =====================*/





/*========= GALERÍA DE FOTOS CON GRID ============================*/


.grid-contenedor-galeria {  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
 gap:10px;
 grid-auto-rows: 100px;
 grid-auto-flow: dense;
}

.grid-contenedor-galeria img {
 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-contenedor-galeria img:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.grid-contenedor-galeria img:nth-child(6) {
  grid-column: 2/4;
  grid-row: 3/5;
}


.grid-contenedor-galeria img:nth-child(7) {
  
  grid-row: span 3;
}

/*========= GALERÍA DE FOTOS CON GRID FIN ============================*/






/*================ ESTRUCTURA WEB CON GRID ========================*/

.contenedor-web-grid {
  display: grid;
  margin: 10px;
  grid-template-areas: 
  "header header header"
  "aside main main"
  "aside main main"
  "aside main main"  
  "footer footer footer";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height:70vh;
}



.item-grid {
  padding: 20px;
}

.header {
  grid-area: header;
  background: orange;
}
.aside {
  grid-area: aside;
  background: rgb(190, 235, 190);
}
.main {
  grid-area: main;
  background:#aabdc6;
}
.footer {
  grid-area: footer;
  background: #c0c569;
}
/*================ ESTRUCTURA WEB CON GRID FIN ========================*/